/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --primary-color:          #5d50c6;
    --secondary-color:        #f85e9f;
    --base-font-color:        #8c8c92;
    --active-menu-font-color: #222831;
    --base-font-family:       "Circular Std", sans-serif;
    --secondary-font-family: Inter, sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/**::before {*/
/*   content: attr(class);*/
/*   position: absolute;*/
/*background: rgba(0, 0, 0, 0.8);*/
/*   color: #fff;*/
/*   padding: 4px 8px;*/
/*   font-size: 12px;*/
/*    z-index: 10;*/
/* }*/

body {
    font-family: var(--base-font-family);
    overflow-x: hidden;
}

@media screen and (max-width: 1110px) {
    body {
        width: 1120px;
        overflow-x: scroll;
    }

}



img {
    max-width: 100%;
    height:    auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1110px;
    margin:    0 auto;
}

.btn {
    font-family:      var(--base-font-family);
    font-size:        14px;
    font-weight:      700;
    font-style:       normal;
    line-height:      120%; /* 16.8px */
    display:          -ms-inline-flexbox;
    display:          inline-flex;
    -webkit-box-align:      center;
    -ms-flex-align:      center;
    align-items:      center;
    min-height:       49px;
    padding:          5px 31px;
    text-decoration:  none;
    color:            #eeeeee;
    border-radius:    100px;
    background-color: var(--primary-color);
}

.btn--icon {
    -webkit-box-align:     center;
    -ms-flex-align:     center;
    align-items:     center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height:      56px;
    color:           var(--active-menu-font-color);
    border:          1px solid #eeeeee;
    background:      #ffffff;
}

.btn__icon {
    margin-right: 5px;
}

.slider-btn {
    z-index:             10;
    display:             -webkit-box;
    display:             -ms-flexbox;
    display:             flex;
    width:               100px;
    height:              100px;
    cursor:              pointer;
    border:              none;
    border-radius:       100px;
    outline:             none;
    background-repeat:   no-repeat;
    background-position: center;
}

.slider-btn__next {
    background-color: #5d50c6;
    background-image: url('../img/svg/icons/arrow-right.svg');
}

.slider-btn__prev {
    border:           1px solid rgba(25, 24, 37, 0.10);
    background-color: #e8e8ea;
    background-image: url('../img/svg/icons/arrow-left.svg');
}

.header {
    position: relative;
    padding:  32px 0;
}

.header__navigation-wrapper {
    position:        relative;
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
    -webkit-box-align:     center;
    -ms-flex-align:     center;
    align-items:     center;
    -ms-flex-wrap:       wrap;
    flex-wrap:       wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__navigation-wrapper::before {
    position:      absolute;
    z-index:       -1;
    top:           -360px;
    left:          -441px;
    width:         500px;
    height:        500px;
    content:       "";
    opacity:       0.5;
    border-radius: 500px;
    background:    #ff5722;

    -webkit-filter:        blur(250px);

    filter:        blur(250px);
}

.menu {
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
    -ms-flex-wrap:       wrap;
    flex-wrap:       wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin:          0;
    padding:         0;
    list-style:      none;
}

.menu__item:not(:last-child) {
    margin-right: 64px;
}

.menu__link {
    font-size:       14px;
    font-weight:     700;
    font-style:      normal;
    line-height:     120%;
    text-decoration: none;
    text-transform:  capitalize;
    color:           var(--base-font-color);
}

.menu__link--active {
    color: var(--active-menu-font-color);
}

.header__auth {
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
    -webkit-box-align:     center;
    -ms-flex-align:     center;
    align-items:     center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.header__auth > :last-child {
    margin-left: 30px;
}

.header__link {
    font-size:       14px;
    font-weight:     700;
    font-style:      normal;
    line-height:     120%;
    text-decoration: none;
    text-transform:  capitalize;
    color:           var(--active-menu-font-color);
}

.hero {
    padding-top:    62px;
    padding-bottom: 35px;
}

.hero__text-wrapper {
    padding-top: 86px;
}

.hero__grid {
    display:               -ms-grid;
    display:               grid;
    -ms-grid-columns: 427px 1fr;
    grid-template-columns: 427px 1fr;
}

.hero__images-wrapper {
    position:              relative;
    display:               -ms-grid;
    display:               grid;
    padding:               77px 18px 0 91px;
    -ms-grid-columns: 1fr 31px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:              31px;
}

.hero__images-wrapper::before {
    position:            absolute;
    top:                 0;
    left:                0;
    width:               113%;
    height:              100%;
    content:             '';
    background-image:    url(../img/svg/bg/flights.svg);
    background-repeat:   no-repeat;
    background-position: top center;
    background-size:     contain;
}

.hero__left-images-column {
    position: relative;
}

.hero__left-images-column img {
    border-radius: 32px;
}

.hero__right-images-column img {
    border-radius: 32px;
}


.hero__left-images-column img:not(:last-child) {
    margin-bottom: 31px;
}

.hero__right-images-column {
    position:        relative;
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
    -webkit-box-align:     center;
    -ms-flex-align:     center;
    align-items:     center;
    -webkit-box-orient:  vertical;
    -webkit-box-direction:  normal;
    -ms-flex-direction:  column;
    flex-direction:  column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero__right-images-column img {
    position: relative;
    top:      -18px;
}

.hero__badge {
    font-family:   var(--base-font-family);
    font-size:     13px;
    font-weight:   700;
    font-style:    normal;
    line-height:   120%; /* 16.8px */
    display:       -ms-inline-flexbox;
    display:       inline-flex;
    padding:       19px 75px 19px 32px;
    color:         var(--secondary-color);
    border-radius: 100px;
    background:    #ffffff url(../img/svg/icons/work.svg) no-repeat top 15px right 32px;
    -webkit-box-shadow:    0 0 0 0 rgba(0, 0, 0, 0.07),
                   0 34px 75px 0px rgba(0, 0, 0, 0.07),
                   0px 137px 137px 0px rgba(0, 0, 0, 0.06),
                   0px 308px 185px 0px rgba(0, 0, 0, 0.04),
                   0px 548px 219px 0px rgba(0, 0, 0, 0.01),
                   0px 856px 240px 0px rgba(0, 0, 0, 0);
    box-shadow:    0 0 0 0 rgba(0, 0, 0, 0.07),
                   0 34px 75px 0px rgba(0, 0, 0, 0.07),
                   0px 137px 137px 0px rgba(0, 0, 0, 0.06),
                   0px 308px 185px 0px rgba(0, 0, 0, 0.04),
                   0px 548px 219px 0px rgba(0, 0, 0, 0.01),
                   0px 856px 240px 0px rgba(0, 0, 0, 0);
}

.hero__title {
    font-family:   var(--base-font-family);
    font-size:     69px;
    font-weight:   700;
    font-style:    normal;
    line-height:   120%; /* 82.8px */
    margin-top:    49px;
    margin-bottom: 38px;
    color:         #000000;
}

.hero__colored-text {
    color: var(--secondary-color);
}

.hero__description {
    font-family:   var(--secondary-font-family);
    font-size:     18px;
    font-weight:   400;
    font-style:    normal;
    line-height:   160%; /* 28.8px */
    margin-bottom: 44px;
    color:         #8b8b91;
}

.hero__actions {
    display:     -webkit-box;
    display:     -ms-flexbox;
    display:     flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap:         16px;
}

.hero__send-icon {
    position:            absolute;
    top:                 calc(50% - 70px);
    left:                -32px;
    display:             inline-block;
    width:               64px;
    height:              64px;
    border-radius:       100px;
    background-image:    url(../img/svg/icons/send.svg);
    background-repeat:   no-repeat;
    background-position: top center;
    -webkit-box-shadow:          0px 19px 19px 0px rgba(0, 0, 0, 0.09),
                         0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01),
                         0px 120px 34px 0px rgba(0, 0, 0, 0);
    box-shadow:          0px 19px 19px 0px rgba(0, 0, 0, 0.09),
                         0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01),
                         0px 120px 34px 0px rgba(0, 0, 0, 0);
}

.hero__add-user-icon {
    position:            absolute;
    bottom:              28px;
    left:                -22px;
    display:             inline-block;
    width:               64px;
    height:              64px;
    margin-left:         50%;
    -webkit-transform:           translateX(-50%);
    -ms-transform:           translateX(-50%);
    transform:           translateX(-50%);
    border-radius:       100px;
    background-image:    url(../img/svg/icons/add-user.svg);
    background-repeat:   no-repeat;
    background-position: top center;
    -webkit-box-shadow:          0px 19px 19px 0px rgba(0, 0, 0, 0.09),
                         0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01),
                         0px 120px 34px 0px rgba(0, 0, 0, 0);
    box-shadow:          0px 19px 19px 0px rgba(0, 0, 0, 0.09),
                         0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01),
                         0px 120px 34px 0px rgba(0, 0, 0, 0);
}

.hero__top-places-icon {
    position:            absolute;
    top:                 61.5%;
    right:               0;
    display:             inline-block;
    width:               166px;
    height:              56px;
    -webkit-transform:           translateX(55%);
    -ms-transform:           translateX(55%);
    transform:           translateX(55%);
    border-radius:       100px;
    background-image:    url(../img/svg/icons/top-places.svg);
    background-repeat:   no-repeat;
    background-position: top center;
    -webkit-box-shadow:          0px 43px 26px 0px rgba(0, 0, 0, 0.05),
                         0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
    box-shadow:          0px 43px 26px 0px rgba(0, 0, 0, 0.05),
                         0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
}

.company-logos {
    padding: 32px 0;
}

.company-logos__item {
    display:         -ms-inline-flexbox;
    display:         inline-flex;
    -webkit-box-align:     center;
    -ms-flex-align:     center;
    align-items:     center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height:      96px;
}

.company-logos img {
    max-width: initial;
}

.company-logos__grid {
    position:        relative;
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
    -ms-flex-wrap:       wrap;
    flex-wrap:       wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width:           100%;
}

.company-logos__grid::before {
    position:          absolute;
    top:               -89px;
    left:              -126px;
    width:             65px;
    height:            170px;
    content:           "";
    background-image:  url('../img/svg/bg/triangles.svg');
    background-repeat: no-repeat;
}

.company-logos__grid::after {
    position:      absolute;
    z-index:       -1;
    top:           -360px;
    right:         -441px;
    width:         500px;
    height:        500px;
    content:       "";
    opacity:       0.5;
    border-radius: 500px;
    background:    #facd49;

    -webkit-filter:        blur(250px);

    filter:        blur(250px);
}

.section__subtitle {
    font-family:    var(--base-font-family);
    font-size:      23px;
    font-weight:    700;
    font-style:     normal;
    line-height:    120%; /* 27.6px */
    letter-spacing: 4.6px;
    text-transform: uppercase;
    color:          var(--secondary-color);
}

.section__title {
    font-family:   var(--base-font-family);
    font-size:     44px;
    font-weight:   700;
    font-style:    normal;
    line-height:   120%; /* 52.8px */
    margin-top:    0;
    margin-bottom: 28px;
    color:         #191825;
}

.section__title--subscribe {
    font-size:  55px;
    margin-top: 35px;
}

.section__description {
    font-family:   var(--secondary-font-family);
    font-size:     18px;
    font-weight:   400;
    font-style:    normal;
    line-height:   160%; /* 28.8px */
    margin-bottom: 67px;
    color:         #8b8b91;
}

.icon-card {
    width:         350px;
    padding:       64px 64px 44px;
    text-align:    center;
    border-radius: 32px;
    background:    #ffffff;
}

.icon-card.swiper-slide-next {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
                        0px 41px 89px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
                        0px 41px 89px 0px rgba(0, 0, 0, 0.1);
}

.icon-card__icon {
    display:             -ms-inline-flexbox;
    display:             inline-flex;
    width:               64px;
    height:              64px;
    background-repeat:   no-repeat;
    background-position: center;
    background-size:     contain;
}

.icon-card__icon--destination {
    background-image: url("../img/svg/icons/destination.svg");
}

.icon-card__icon--booking {
    background-image: url("../img/svg/icons/tasks.svg");
}

.icon-card__icon--weather {
    background-image: url("../img/svg/icons/cloudy.svg");
}

.icon-card__title {
    font-family:   var(--base-font-family);
    font-size:     28px;
    font-weight:   700;
    font-style:    normal;
    line-height:   120%; /* 33.6px */
    margin-top:    60px;
    margin-bottom: 32px;
    color:         #191825;
}

.icon-card p {
    font-family: var(--secondary-font-family);
    font-size:   18px;
    font-weight: 400;
    font-style:  normal;
    line-height: 160%; /* 28.8px */
    color:       var(--base-font-color);
}

.services {
    padding-top: 65px;
}

.services__grid {
    position: relative;
    display:  -webkit-box;
    display:  -ms-flexbox;
    display:  flex;
}

.services__head {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width:       444px;
    padding-top: 126px;
}

.services__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 130px;
    width:   calc(100vw - (100vw - 1110px) / 2 - 444px);
    overflow: initial;
}

.services__swiper-wrapper {
    padding-bottom: 30px;
}


.destination {
    padding-top:    111px;
    padding-bottom: 60px;
    margin-top: -161px;
}

.destination__head-wrapper {
    position: relative;
}

.destination__head-wrapper::before {
    position:            absolute;
    top:                 128px;
    right:               -133px;
    width:               107px;
    height:              107px;
    content:             '';
    background-image:    url('../img/svg/bg/crosses.svg');
    background-repeat:   no-repeat;
    background-position: center 0;
}

.destination__head {
}

.destination__slider {
    position:   relative;
    display:    -webkit-box;
    display:    -ms-flexbox;
    display:    flex;
    overflow:   initial;
    margin-top: 60px;
}

.destination__slider-wrapper {
    overflow:      initial;
    margin-bottom: 65px;
}

.destination__slider-controls {
    position: absolute;
    top:      -4px;
    right:    0;
    display:  -webkit-box;
    display:  -ms-flexbox;
    display:  flex;
    gap:      32px;
}

.destination__slider-controls button {

}

.slider-card {
    overflow:         hidden;
    border-radius:    32px;
    background-color: #ffffff;
    -webkit-box-shadow:       0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow:       0 25px 50px -12px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.slider-card__image-wrapper {
    overflow: hidden;
    height:   350px;
}

.slider-card__image-wrapper img {
    width:      100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.slider-card__text-wrapper {
    position: relative;
    padding:  32px;
}

.slider-card__title {
    font-family:   var(--base-font-family);
    font-size:     23px;
    font-weight:   700;
    font-style:    normal;
    line-height:   120%; /* 27.6px */
    width:         205px;
    margin-top:    0;
    margin-bottom: 16px;
    color:         #191825;
}

.slider-card__price {
    font-family: var(--base-font-family);
    font-size:   23px;
    font-weight: 700;
    font-style:  normal;
    line-height: 120%; /* 27.6px */
    position:    absolute;
    top:         0;
    right:       31px;
    margin-top:  31px;
    color:       var(--secondary-color);
}

.slider-card__country {
    font-family: var(--secondary-font-family);
    font-size:   18px;
    font-weight: 400;
    font-style:  normal;
    line-height: 160%; /* 28.8px */
    color:       rgba(25, 24, 37, 0.75);
}

.slider-card__rating {
    font-family:   var(--base-font-family);
    font-size:     23px;
    font-weight:   700;
    font-style:    normal;
    line-height:   120%; /* 27.6px */
    margin-top:    31px;
    margin-bottom: 0;
    color:         #ff5722;
}

.slider-card__rating {
    display:     -webkit-box;
    display:     -ms-flexbox;
    display:     flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider-card__rating::after {
    display:             -ms-inline-flexbox;
    display:             inline-flex;
    width:               24px;
    height:              24px;
    margin-left:         8px;
    content:             '';
    background-image:    url('../img/svg/icons/star.svg');
    background-repeat:   no-repeat;
    background-position: center;
}

.point__grid {
    position:              relative;
    display:               -ms-grid;
    display:               grid;
    -ms-grid-columns: 1fr 42px 445px;
    grid-template-columns: 1fr 445px;
    gap:                   42px;
}

.point__grid::before {
    position:      absolute;
    top:           133px;
    right:         571px;
    width:         50vw;
    height:        550px;
    content:       '';
    border-radius: 0px 500px 500px 0px;
    background:    #facd49;

}

.point__promo-image-wrapper {
    position: relative;
}

.point__promo-discounted-icon {
    position:            absolute;
    z-index:             1;
    top:                 19.5%;
    right:               0;
    display:             inline-block;
    width:               302px;
    height:              72px;
    border-radius:       100px;
    background-image:    url('../img/svg/labels/discounted.svg');
    background-repeat:   no-repeat;
    background-position: 0;
    background-size:     initial;
    -webkit-box-shadow:          0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 15px 34px 0px rgba(0, 0, 0, 0.03), 0px 62px 62px 0px rgba(0, 0, 0, 0.02), 0px 139px 83px 0px rgba(0, 0, 0, 0.01), 0px 246px 99px 0px rgba(0, 0, 0, 0.00), 0px 385px 108px 0px rgba(0, 0, 0, 0.00);
    box-shadow:          0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 15px 34px 0px rgba(0, 0, 0, 0.03), 0px 62px 62px 0px rgba(0, 0, 0, 0.02), 0px 139px 83px 0px rgba(0, 0, 0, 0.01), 0px 246px 99px 0px rgba(0, 0, 0, 0.00), 0px 385px 108px 0px rgba(0, 0, 0, 0.00);
}

.point__promo-image-wrapper img {
    position:  relative;
    z-index:   0;
    top:       37px;
    right:     36px;
    width: 100%;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.point__head {
    position: relative;
}

.point__head-icon {
    position:          absolute;
    top:               50%;
    right:             -84px;
    width:             112px;
    height:            112px;
    -webkit-transform:         translateY(-50%);
    -ms-transform:         translateY(-50%);
    transform:         translateY(-50%);
    border-radius:     100px;
    background-color:  #facd49;
    background-image:  url('../img/svg/icons/ticket.svg');
    background-repeat: no-repeat;
    -webkit-box-shadow:        0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 15px 34px 0px rgba(0, 0, 0, 0.03), 0px 62px 62px 0px rgba(0, 0, 0, 0.02), 0px 139px 83px 0px rgba(0, 0, 0, 0.01), 0px 246px 99px 0px rgba(0, 0, 0, 0.00), 0px 385px 108px 0px rgba(0, 0, 0, 0.00);
    box-shadow:        0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 15px 34px 0px rgba(0, 0, 0, 0.03), 0px 62px 62px 0px rgba(0, 0, 0, 0.02), 0px 139px 83px 0px rgba(0, 0, 0, 0.01), 0px 246px 99px 0px rgba(0, 0, 0, 0.00), 0px 385px 108px 0px rgba(0, 0, 0, 0.00);

}

.point__stats {
    display:               -ms-grid;
    display:               grid;
    padding:               0;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    gap:                   32px 30px;
}

.point__stats-item {
    display:        -webkit-box;
    display:        -ms-flexbox;
    display:        flex;
    -webkit-box-align:    center;
    -ms-flex-align:    center;
    align-items:    center;
    -webkit-box-flex:           1;
    -ms-flex:           1 0 0px;
    flex:           1 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding:        32px 30px;
    border:         1px solid #e8e8ea;
    border-radius:  32px;
    background:     #ffffff;
    gap:            16px;
}

.point__stats-value {
    font-family: var(--base-font-family);
    font-size:   35px;
    font-weight: 700;
    font-style:  normal;
    line-height: 120%; /* 42px */
    color:       #ff5722;
}

.point__stats-title {
    font-family: var(--secondary-font-family);
    font-size:   18px;
    font-weight: 400;
    font-style:  normal;
    line-height: 160%; /* 28.8px */
    color:       #191825;
}

.features {
    padding-top: 105px;
}

.features__grid {
    display:               -ms-grid;
    display:               grid;
    -ms-grid-columns: 1fr 42px 1fr;
    grid-template-columns: 1fr 1fr;
    gap:                   42px;
}

.features__list {
    margin:     0 0 0 10px;
    padding:    0;
    list-style: none;
}

.features__item {
    padding:       23px 20px 30px 154px;
    border-radius: 32px;
    background:    #ffffff no-repeat top 32px left 23px;
}

.features__item--point {
    background-image: url('../img/svg/icons/point.svg');
}

.features__item--calendar {
    background-image: url('../img/svg/icons/calendar.svg');
}

.features__item--coupon {
    background-image: url('../img/svg/icons/coupon.svg');
}

.features__item:nth-child(2n) {

    border: 1px solid rgba(25, 24, 37, 0.10);

}

.features__item-title {
    font-family:   var(--base-font-family);
    font-size:     23px;
    font-weight:   700;
    font-style:    normal;
    line-height:   120%; /* 27.6px */
    margin-bottom: 10px;
    color:         #191825;
}

.features__item-text {
    font-family: var(--secondary-font-family);
    font-size:   18px;
    font-weight: 400;
    font-style:  normal;
    line-height: 160%; /* 28.8px */
    margin-top:  0;
    color:       #8c8c92;
}

.features__image-wrapper {
    position:    relative;
    padding-top: 73px;
}

.features__image-wrapper::before {
    position:            absolute;
    z-index:             -1;
    top:                 0;
    right:               -165px;
    width:               448px;
    height:              272px;
    content:             '';
    background-image:    url('../img/svg/icons/planets.svg');
    background-repeat:   no-repeat;
    background-position: center;
    background-size:     cover;
}

.features__image-label {
    position:            absolute;
    top:                 160px;
    right:               -10px;
    display:             inline-block;
    width:               307px;
    height:              72px;
    border-radius:       100px;
    background-color:    #ffffff;
    background-image:    url('../img/svg/labels/paradise.svg');
    background-repeat:   no-repeat;
    background-position: 0 0;
    background-size:     contain;
    -webkit-box-shadow:          0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 15px 34px 0px rgba(0, 0, 0, 0.03), 0px 62px 62px 0px rgba(0, 0, 0, 0.02), 0px 139px 83px 0px rgba(0, 0, 0, 0.01), 0px 246px 99px 0px rgba(0, 0, 0, 0.00), 0px 385px 108px 0px rgba(0, 0, 0, 0.00);
    box-shadow:          0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 15px 34px 0px rgba(0, 0, 0, 0.03), 0px 62px 62px 0px rgba(0, 0, 0, 0.02), 0px 139px 83px 0px rgba(0, 0, 0, 0.01), 0px 246px 99px 0px rgba(0, 0, 0, 0.00), 0px 385px 108px 0px rgba(0, 0, 0, 0.00);
}

.testimonials {
    position:    relative;
    padding-top: 62px;

}

.testimonials::before {
    position:            absolute;
    top:                 -230px;
    right:               0;
    width:               100%;
    height:              180%;
    content:             '';
    background-image:    url('../img/svg/bg/wave.svg');
    background-repeat:   no-repeat;
    background-position: left 74% top 43%

}

.testimonials__head {
    text-align: center;
}

.clients-slider {
    position: relative;
}

.clients-slider__button-prev {
    position: absolute;
    top:      28%;
    left:     0;
}

.clients-slider__button-next {
    position: absolute;
    top:      28%;
    right:    0;
}

.clients-slider__pagination {
    text-align: center;
}

.clients-slider__item {
    display:        -webkit-box;
    display:        -ms-flexbox;
    display:        flex;
    -webkit-box-align:    center;
    -ms-flex-align:    center;
    align-items:    center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top:    35px;
}

.clients-slider__user-photo {
    display:       -ms-inline-flexbox;
    display:       inline-flex;
    width:         128px;
    height:        auto;
    margin-bottom: 40px;
    border-radius: 128px;
}

.clients-slider__user-info {
    font-family:   var(--base-font-family);
    font-size:     23px;
    font-weight:   700;
    font-style:    normal;
    line-height:   120%;
    margin-bottom: 15px;
    color:         #53525c;
}

.clients-slider__user-name {
    font-family: var(--base-font-family);
    font-size:   28px;
    font-weight: 700;
    font-style:  normal;
    line-height: 120%; /* 33.6px */
    text-align:  center;
    color:       #ff5722;
}

.clients-slider__rating {
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
    -webkit-box-align:     center;
    -ms-flex-align:     center;
    align-items:     center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom:   11px;
    gap:             14px;
}

.clients-slider__rating-star {
    display:             -ms-inline-flexbox;
    display:             inline-flex;
    width:               32px;
    height:              32px;
    background-image:    url('../img/svg/icons/star.svg');
    background-repeat:   no-repeat;
    background-position: center;
    background-size:     contain;
}

.clients-slider__testimonial {
    font-family:   var(--base-font-family);
    font-size:     23px;
    font-weight:   450;
    font-style:    normal;
    line-height:   160%; /* 36.8px */
    max-width:     832px;
    margin-bottom: 63px;
    padding:       0 10px;
    text-align:    center;
    color:         #53525c;
}

.subscribe {
    padding-top:    123px;
    padding-bottom: 60px;
}

.subscribe__wrapper {
    position:         relative;
    padding:          109px 64px 72px;
    border-radius:    32px;
    background-color: #fffbf1;
}

.subscribe__head {
    margin-bottom: 57px;
    text-align:    center;
}

.subscribe__form {
    display:               -ms-grid;
    display:               grid;
    -ms-grid-columns: 1fr 64px auto;
    grid-template-columns: 1fr auto;
    gap:                   64px;
}

.subscribe__input {
    font-size:           23px;
    font-weight:         700;
    font-style:          normal;
    line-height:         120%;
    padding:             32px 32px 32px 76px;
    color:               #53525c;
    border:              none;
    border-radius:       32px;
    outline:             none;
    background-color:    #ffffff;
    background-image:    url('../img/svg/icons/email.svg');
    background-repeat:   no-repeat;
    background-position: left 33px top 31px;
}

.subscribe__input::-webkit-input-placeholder {
    opacity: 1;
    color:   #53525c;
}

.subscribe__input::-moz-placeholder {
    opacity: 1;
    color:   #53525c;
}

.subscribe__input:-ms-input-placeholder {
    opacity: 1;
    color:   #53525c;
}

.subscribe__input::-ms-input-placeholder {
    opacity: 1;
    color:   #53525c;
}

.subscribe__input::placeholder {
    opacity: 1;
    color:   #53525c;
}

.subscribe__btn {
    font-size:       23px;
    font-weight:     700;
    font-style:      normal;
    line-height:     120%; /* 27.6px */
    display:         -ms-inline-flexbox;
    display:         inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width:           235px;
    cursor:          pointer;
    text-align:      center;
    border:          none;
    oultine:         none;
}

.subscribe__dotes-bg {
    position:            absolute;
    top:                 -43px;
    left:                -42px;
    width:               184PX;
    height:              177px;
    background-image:    url('../img/svg/bg/dotes.svg');
    background-repeat:   no-repeat;
    background-position: center;
    background-size:     contain;
}

.footer {
    padding-top: 46px;
}

.footer__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.footer__grid::before {
    content: '';
    position: absolute;
    top: -280px;
    right: -380px;
    background-image: url('../img/svg/bg/curves.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 332px;
    height: 351px;
}

.footer__info {
    width:        278px;
    margin-right: 153px;

    padding-top:  23px;
}

.footer__text {
    font-family: var(--base-font-family);
    font-size:   23px;
    font-weight: 450;
    font-style:  normal;
    line-height: 160%;
    color:       #8c8c92;
}

.footer__widgets {
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
    -webkit-box-flex:       1;
    -ms-flex-positive:       1;
    flex-grow:       1;
    -ms-flex-wrap:       wrap;
    flex-wrap:       wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__widget {
    display:        -webkit-box;
    display:        -ms-flexbox;
    display:        flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__widget-title {
    font-family: var(--base-font-family);
    font-size:   23px;
    font-weight: 700;
    font-style:  normal;
    line-height: 120%; /* 27.6px */
    color:       #191825;
}


.footer__widget-link, .footer__widget-item {
    font-family:    var(--secondary-font-family);
    font-size:       18px;
    font-weight:     400;
    font-style:      normal;
    line-height:     160%; /* 28.8px */
    margin-bottom:   30px;
    text-decoration: none;
    color:           #53525c;
}

.footer__socials {
    padding: 32px 0;
}

.socials {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
}

.socials__link {
    display: inline-block;
}